extends layouts/master

block content
  .bg-white
    header.absolute.inset-x-0.top-0.z-50
      .mx-auto.max-w-7xl
        .px-6.pt-6(class='lg:max-w-2xl lg:pl-8 lg:pr-0')
          nav.flex.items-center.justify-between(class='lg:justify-start', aria-label='Global')
            a(href='#', class='-m-1.5 p-1.5')
              span.sr-only Your Company
              span.text-indigo-600.h-12.w-auto.block
                svg#warehouse(fill='currentColor' xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewbox='0 0 15 15')
                  path(d='M13.5,5c-0.0762,0.0003-0.1514-0.0168-0.22-0.05L7.5,2L1.72,4.93C1.4632,5.0515,1.1565,4.9418,1.035,4.685\
                  S1.0232,4.1215,1.28,4L7.5,0.92L13.72,4c0.2761,0.0608,0.4508,0.3339,0.39,0.61C14.0492,4.8861,13.7761,5.0608,13.5,5z M5,10H2v3h3\
                  V10z M9,10H6v3h3V10z M13,10h-3v3h3V10z M11,6H8v3h3V6z M7,6H4v3h3V6z')
            button.rounded-md.text-gray-700(type='button', class='-m-2.5 p-2.5 lg:hidden')
              span.sr-only Open main menu
              svg.h-6.w-6(fill='none', viewBox='0 0 24 24', stroke-width='1.5', stroke='currentColor', aria-hidden='true')
                path(stroke-linecap='round', stroke-linejoin='round', d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5')
            .hidden(class='lg:ml-12 lg:flex lg:gap-x-14')
              //a.text-sm.font-semibold.leading-6.text-gray-900(href='#') Dashboard
              //a.text-sm.font-semibold.leading-6.text-gray-900(href='#') Features
              //a.text-sm.font-semibold.leading-6.text-gray-900(href='#') Marketplace
              //a.text-sm.font-semibold.leading-6.text-gray-900(href='#') Company
              //a.text-sm.font-semibold.leading-6.text-gray-900(href='#') Log in
    .relative
      .mx-auto.max-w-7xl
        .relative.z-10.pt-14(class='lg:w-full lg:max-w-2xl')
          svg.absolute.inset-y-0.right-8.hidden.h-full.w-80.transform.fill-white(class='translate-x-1/2 lg:block', viewBox='0 0 100 100', preserveAspectRatio='none', aria-hidden='true')
            polygon(points='0,0 90,0 50,100 0,100')
          .relative.px-6.py-32(class='sm:py-40 lg:px-8 lg:py-56 lg:pr-0')
            .mx-auto.max-w-2xl(class='lg:mx-0 lg:max-w-xl')

              h1.text-4xl.font-bold.tracking-tight.text-gray-900.text-center(class='sm:text-6xl') Get latest currency rate
              p.mt-6.text-lg.leading-8.text-gray-600.text-center
                | Use our currency converter to get latest rate for your preferred currency
              .mt-10.flex.items-center.gap-x-6.justify-center
                a.rounded-md.bg-indigo-600.text-sm.font-semibold.text-white.shadow-sm(href='/auth/signup', class='px-3.5 py-2.5 hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600') Signup now
                a.text-sm.font-semibold.leading-6.text-gray-900(href='/auth/login')
                  | Login
                  span(aria-hidden='true') &rarr;
      .bg-gray-50(class='lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2')
        img.object-cover(class='aspect-[3/2] lg:aspect-auto lg:h-full lg:w-full', src='https://images.unsplash.com/photo-1521737711867-e3b97375f902?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80', alt='')
