doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Success
        //- Meta tag to redirect after 5 seconds to the sign-up page
        meta(http-equiv="refresh", content="5;url=/signup")

    body
        h1 Success
        p You have signed up successfully!